<div style="margin: 30px; padding: 20px; border: 1px solid black; width: 360px;">

    <img src="{{qr}}" style="width: 132px; height: 132px; float: left; display: block;"/>

    <h4>Pangakaart</h4>

    <h3>{{accountData.name}}</h3>

    <p>
        <code>{{accountData._id}}</code>
    </p>

    <div style="clear: both"></div>

</div>
