<div style="display: flex">


    <div style="text-align: center; width: 150px; border: 1px dashed black; margin: 0 10px 10px 0;">

        <img src="{{qr}}" style="margin: 0 auto; width: 132px; height: 132px; display: block;" />

        <div style="font-weight: bold;">{{itemData.name}}</div>

        <div style="font-weight: bold; margin-top: 8px; font-size: 18px; font-family: monospace;">{{itemData.amountStr}} €</div>

    </div>


</div>
